 h1 {
    font-family: 'Kaushan Script', cursive;
}

p {
    font-family: 'Cardo', serif;
    font-size: 16px
}




body {
    background-image: url(../assets/background.jpg);
    padding-top:50px;
   
}

